<html>
<!--HTML Page with form asking for zip code-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<link href="/static/style.css" rel="stylesheet" type="text/css" />

<nav class="navbar-brand navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#yy">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
            <li><a class="dropdown-item" href="/login">Login</a></li>
            <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


</head>
<title>Weather</title>
<h1>Welcome please type in a zipcode</h1>
<body>
<form method = 'POST' class='city-form' action = '/zipcode'>
	<label for="zip_code">ZIP Code:</label><br>
	<input type="text" id='zip_code' name='zip_code'><br>
	
	<label for="country_code">Country Code (just put <strong>us</strong>):</label><br>
	<input type="text" id="country_code" name="country_code"><br>

	<button type="submit">Search By ZIP</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
<footer>
<h2>hi</h2>
</footer>
</html>
